div{
    border-style: solid;
    border-width: 5px;
    border-color: green;
    padding: 30px;
}

.container{
    border-color: blue;
}

.row{
    border-color: red;
}

.list-group-item{
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text-center{
    text-align: center;
}

img{
    background-image: url(http://cache.desktopnexus.com/thumbnails/504612-bigthumbnail.jpg)
}

body{

}

