div{
    border-style: none;
    border-width: 5px;
    border-color: ;
    padding: 30px;
}

.container{
    border-color: blue;
}

.row{
    border-color: red;
}

.list-group-item{
    border: 0;
    margin-top: 40px;
    margin-bottom: 40px;
}




img{
    background-image: url(http://cache.desktopnexus.com/thumbnails/504612-bigthumbnail.jpg)
        
}    */* A picture that shows what i like to do... watch football*/

body{
    background-color:red; /*Changing the color of the background on my portfolio pages*/
}

